

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: white;
} 

.navbar-brand h3{
    font-family: 'Dancing Script', cursive;
    background-color: rgba(3, 3, 3, 0.479);
    font-weight: 900;
    border-radius: 50% 50%;
    padding: 10px 10px;
    text-align: center;
    border: 2px solid rgba(112, 106, 106, 0.699);
}
.navbar{
    background-color: #3a5a69 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: rgb(216, 22, 22);
    text-shadow: 0 1px 2px rgba(216, 208, 208, 0.6);
  }

  .carousel-caption {
    position: absolute; 
    top:30%; 
    color: rgb(235, 205, 36);
    text-shadow: #162125 3px 3px 3px;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
  }


  .main {
    position: relative;
    background-color: rgba(7, 7, 7, 0.644);
    
   }

   .overlay {
    background: rgba(5, 5, 5, 0.274);
    background: rgba(2, 2, 2, 0.575);
    position: absolute;
    height: 108vh;
    top: 0;
    color: white;
    width: 100%;
   }

   .carousel-item{
    height: 108vh;
   }

   .explore-btn:link, .explore-btn:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    font-weight: 700;
}

.explore-btn-white {
    margin-top: 200px auto;
    background-color: #3a5a69;
    color: white;
}


.explore-btn-white:hover{
    background-color: #0808088f;
}
.getstarted-smd{
    visibility: hidden;
}


.card{
    margin: 5px 0;
    color: black;
    box-shadow: rgba(253, 255, 255, 0.842) 2px 2px 8px 1px;

}
  @media only screen and (max-width: 600px){
    .carousel-caption{
        position: absolute; 
        top:10%; 
        font-style: italic;
        letter-spacing: 0em;
        word-spacing: 0em;
        font-size: 0.2em;
            }

        .explore-btn-white{
        margin-top: 0%;
        }

            
        .main{
        margin-bottom: 40px;  
        }

        .carousel-item, .overlay {
            height: 90vh;
        }
        .overlay .carousel-caption p{
            font-size: 4em !important;
        }
        .explore-btn-white{
            visibility: hidden;
        }

        a.getstarted-smd{
            visibility: visible;
            padding: 0 25%;
            font-size: 5em;
            text-decoration: none;
            font-weight: bold;
            
        }
        
    }
  
  .footerLink{
      word-spacing: 1.1em;
  }

  #bg-img{
      background-image: linear-gradient( rgba(7, 7, 7, 0.541), rgba(0, 0, 0, 0.473)), url("http://cdn1.theodysseyonline.com/files/2015/11/01/635819461517499564-850207224_dc45pBgei.jpg");
      width: 100%;
      background-size: cover;
      position: relative;
      height: 90vh;
  }


  #contact-form{
      margin: 0 45%;
      margin-left: 2%;
      padding: 5% auto;
      position: relative;
      top: 10%;
      bottom: 10%;
  }

  .form1{
    
      max-height: 100%;
      scroll-behavior: smooth;
      overflow-wrap: normal;
      overflow: auto;
  }
  #design{
      background-image: linear-gradient(rgba(10, 9, 9, 0.603),rgba(8, 4, 4, 0.664)),url("https://i.pinimg.com/originals/67/b4/03/67b403ff82b678f0500a5ab2ee0ca26a.gif");
    background-attachment: fixed;
      background-size: cover;
    height: 50vh;
    text-align: center; 
    }
    .design1 {
        padding: 50px;
        transition: transform .2s; /* Animation */
        margin: 0 auto;
        font-size: 1.5em;
        color: #3a5a69;

    }
    .design1 .p1{
        font-family: 'Dancing Script', cursive;
        font-weight: bolder;
        color: white
    }

      .design1:hover{
        transform: scale(1.2);
    }

    